<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<body>
<p><a href="/loginpage">login</a>
<a href="/registerpage">register</a></p>


  <h1>Photo Showcase</h1>

{% for d in data %}
    <article class="d">
      <header>

        <div>
          <img style="max-width: 800px; max-width: 800px" src="/static/{{d['path']}}" />
          <p><div class="about">  author <a class="action" href="{{ url_for('user', nickname=d['nickname']) }}">{{ d['nickname'] }}</a>  </p>  camera  {{ d['model']}}</div>
  <a class="action" href="{{ url_for('detail', nickname=d['number']) }}">photo detail</a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}



</body>
 <hr>
<p>No more photos<a href="/return3">return</a></p>


</html>
